
<simple-button>
    <div class="SimpleButton">
        <button onclick="{onClick}">{state.text}</button>
    </div>
    <script>
      import StdComp from 'Framework/app-core/StdComp'
      const sc =  Object.assign({

        onClick(e) {
          // call via binding context
          this.cm.getApp().callEventHandler('action', e)
        }

      }, StdComp)
      export default sc
    </script>

</simple-button>
