
<simple-label>
    <div class="SimpleLabel">
        {bound.text}
    </div>
    <style>
    </style>
    <script>
      import StdComp from 'Framework/app-core/StdComp'
      const sc =  Object.assign({
            isAlignable: true
      }, StdComp)
      export default sc
    </script>
</simple-label>    
