
<simple-label>
    <div class="SimpleLabel">
        {state.text}
    </div>
    <style>
    </style>
    <script>
      import StdComp from 'Framework/app-core/StdComp'
      const sc =  Object.assign({
            isAlignable: true,

            preStdOnMounted (props, state) {
              let div = this.elementFind('div')
              this.listenToAllGestures(div, 'action')
            }
      }, StdComp)
      export default sc
    </script>
</simple-label>    
