
<text-area>
    <div class="TextArea">
        {bound.text}
    </div>
    <script>
      import StdComp from 'Framework/app-core/StdComp'
      const sc =  Object.assign({}, StdComp)
      export default sc
    </script>
</text-area>
