<ab-backbutton>
    <span class="back-button" onclick="{goBack}">&lt;&nbsp;Back</span>
    <script>
      import {newCommon} from 'Framework/app-core/ComCommon'
      let cm;
      export default {
        onBeforeMount() {
          cm = newCommon(this)
        },
        goBack(e) {
          cm.getApp().navigateBack()
        }
      }
    </script>
</ab-backbutton>