<action-toolbar>
    <div class="tool-bar">
        action-toolbar
        <slot/>
    </div>
    <style>
        .tool-bar {
            display: inline-flex;
            flex-direction: row;
            height: 2rem;
            /*background: aliceblue;*/
            /*justify-content: space-evenly;*/
        }
    </style>
</action-toolbar>